* {
    -fx-font-family:Montserrat;
}
.statusbar {
    -fx-font-weight: bold;
    -fx-font-size: 14;
}
.fields {
	-fx-background-color: #e0e0e0;
	-fx-border-color: #b3b3b3;
	-fx-background-radius: 0;
	-fx-pref-width: 32px;
	-fx-pref-height: 32px;
}
.opn {
    -fx-pref-width: 24px;
	-fx-pref-height: 24px;
}

.opnBoard {
    -fx-padding: 5px;
}
.inactive:hover {
    -fx-background-color: #e0e0e0;
}
.active:hover {
    -fx-background-color: #c4c4c4;
}
.hover {
    -fx-background-color: #c4c4c4;
}
.deadField {
    -fx-background-color: #888888;
}

.settings {
    -fx-font-weight: bold;
	-fx-font-family: Montserrat;
	-fx-font-size: 14;
	-fx-padding: 10px;
	-fx-pref-width: 100px;
    -fx-pref-height: 40px;
}
.header {
    -fx-font-weight: bold;
	-fx-font-size: 18;
}

.msgAreaContainer {
    -fx-background-color: #ffffff;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}
.msgArea {
    -fx-padding: 10;
    -fx-background-color: #ffffff;
}

.msgInput {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.msgButton {
	-fx-font-size: 12;
	-fx-border-radius: 0;
	-fx-background-radius: 0;
}

.msgOpn {
    -fx-fill: Red;
    -fx-font-weight: bold;
}

.msgYou {
    -fx-fill: Blue;
    -fx-font-weight: bold;
}
